<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

	<meta http-equiv="Content-Type" content="text/html; charset=sjis">
	
	<title>GIF API TestWEB </title>

 	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<script src="/static/jquery-1.8.3.min.js"></script>
	<script src="/static/jquery-ui.min.js"></script>
	<link href="/static/style.css" rel="stylesheet" type="text/css">



	<SCRIPT language="JavaScript">
	function geting(mnum) {
		$.get("/con", { con:mnum} );        
	}
	
	</SCRIPT>
</head>

<body id="page-body" >


<img src="/static/ls-1-2-g-s.gif">


</body></html>

<body>

</body>
</html>
